.btn {
  --bg-clr-onActive: var(--clr-primary-dark);
  display: inline-block;
  cursor: pointer;
  color: var(--clr-white);
  background: var(--clr-primary-light);
  border: none;
  border-radius: 100vh;
  padding: 1em 2em;
  font-weight: var(--fw-bold);
  // font-size: var(--fs-300);
  text-decoration: none;

  &--dark {
    background-color: var(--clr-gray-600);
  }

  &--clear {
    --bg-clr-onActive: transparent;
    background-color: transparent;

    &:hover,
    &:focus {
      opacity: 0.85;
    }
  }

  &--tight {
    padding: 0;
    border-radius: 0;
  }

  &:hover,
  &:focus {
    background-color: var(--bg-clr-onActive);
  }
}
