@use '../abstracts' as *;

.call-to-action {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  
  &__bookmark {
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    border-radius: 100vh;
    cursor: pointer;

    & .icon {
      display: inline-block;
      width: 56px;
      height: 100%;
    }

    & .text {
      display: none;
      padding: 0.875rem 1.5rem 0.875rem 1rem;
      font-weight: var(--fw-bold);

      @media ( min-width: 500px ) {
        display: inline;
      }
    }

    &.bookmarked {
      & .icon {
        & circle {
          fill: var(--clr-primary-dark);
        }

        & path {
          fill: var(--clr-white);
        }
      }

      & .text {
        color: var(--clr-primary-dark);
      }
    }
  }

  &__main {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width:270px;
    
    @media (min-width: 360px) {
      padding-left: 2.75rem;
      padding-right: 2.75rem;
    }

    @media ( min-width: 500px ) {
      width: initial;
    }
  }
}
