@use '../abstracts' as *;

.container {
  max-width: 46rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  // margin: 0 1.5rem;

  @include mq(small) {
    // margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
  }
}
