@use '../abstracts' as *;

.modal {
  --flow-spacer: 1rem;
  background-color: var(--clr-white);
  position: absolute;
  z-index: 1010;
  top: 9rem;
  overscroll-behavior: contain;
  left: 50%;
  transform: translateX(-50%);
  
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close--icon {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    cursor: pointer;
    padding: 7px;
  }

  &--success {
    text-align: center;
    max-width: 33rem;
    padding-top: 32px;
    padding-bottom: 36px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);

    &::before {
      content: '';
      display: inline-block;
      width: 52px;
      height: 52px;
      background-image: url('../../assets/images/icon-check.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;

      @media (min-width: 700px) {
        width: 64px;
        height: 64px;
      }
    }

    & .section__subtitle {
      margin-top: clamp(1rem, 2vw, 2rem);
      font-size: clamp(16px,4vw,24px);
    }
    
    & .btn {
      // margin-top: 2rem;
      margin-top: clamp(1.5rem, 4vw,2rem);
      padding: 0.625rem 2rem;
    }

    p {
      color: hsl(0, 0%, 48%);
      margin-top: clamp(1.25rem, 3vw ,1.75rem);
    }
  }
}
