@use '../abstracts' as *;

.modal {
  --flow-spacer: 1rem;
  background-color: var(--clr-white);
  position: absolute;
  z-index: 1010;
  top: 9rem;
  overscroll-behavior: contain;
  left: 50%;
  transform: translateX(-50%);
  
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close--icon {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    cursor: pointer;
    padding: 7px;
  }

  &--success {
    text-align: center;
    max-width: 33rem;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);

    &::before {
      content: '';
      display: inline-block;
      background-image: url('../../assets/images/icon-check.svg');
      width: 64px;
      height: 64px;
      text-align: center;
    }

    & .section__subtitle {
      margin-top: 2rem;
      // line-height: 1.1;
    }

    & .btn {
      margin-top: 2rem;
    }

    p {
      color: hsl(0, 0%, 48%);
    }
  }
}
