.page {
  &-intro {
    --flow-spacer: 1rem;
    // --fs-body: calc(0.875rem + (16 - 14) * ((100vw - 375px) / (640 - 375)));
    text-align: center;
    margin-top: -4rem;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      top: 0;
      background-image: url('../../assets/images/logo-mastercraft.svg');
      background-size: contain;
      height: 56px;
      width: 56px;
      transform: translate(-50%, -50%);
    }

    &__title {
      line-height: 1.1;
      font-weight: 900;
      margin-top: 1.5rem;
    }

    .call-to-action {
      margin-top: 1.5rem; // text line-height requires less margin.
    }
  }
}
