@use '../abstracts' as *;

.pledges {
  &-container {
    --flow-spacer:1.25rem;
    padding-top: 2.25rem;
    padding-bottom: 2rem;

    // font-size: 0.85rem;
  }

  margin-top: 1.5rem;

  
  .product {
    --flow-spacer: 1.5rem;
    line-height:1.65;
    display: grid;
    grid-template-columns: min-content max-content 1fr;
    /* grid-template-rows: 1fr 1fr minmax(min-content, 1fr) 1fr; */
    gap: 1rem;
    border: 1px solid var(--clr-gray-600);

    &--selected {
      border: 2px solid var(--clr-primary-light);
    }

    @include mq(small) {
      gap: 1rem 2rem;
    }

    &__selection {
      grid-column: 1 / 2;
      align-self: center;

      @include mq(small) {
        grid-row: 1/4;
        align-self: self-start;
        padding-top: 8px;
      }
    }

    &__header {
      grid-column: 2/-1;

      @media (min-width: 784px) {
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 1rem;
        justify-content: space-between;
      }

      // @include mq(small) {
      //   grid-column: 2/-2;
      // }

      @media (min-width: 515px) {
        grid-column: 2/-2;
      }
    }

    &__title,
    &__subtitle {
      line-height: 1.5rem;
      font-size:inherit;
    }

    &__quantity {
      --fs-strong: 1.25rem;
      vertical-align: -0.1em;
    }

    &__description {
      grid-column: 1 / -1;
      grid-row: 2 / 3;

      @include mq(small) {
        grid-column: 2 / -1;
        grid-row: 2 / 3;
      }
    }

    &__details {
      grid-column: 1 / 3;
      grid-row: 3/4;

      // @include mq(small) {
      //   grid-column: 3 / 4;
      //   grid-row: 1/2;
      //   justify-self: end;
      // }

      @media (min-width: 515px) {
        grid-column: -2/-1;
        grid-row: 1/2;
        justify-self: flex-end;
      }
    }
  }
}
