@use '../abstracts' as *;

.stats {
  --flow-spacer: 2rem;
  --fs-strong: 2rem;
  text-align: center;
  /* font-size: 0.8rem; */
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;

  @media (min-width: 35rem) { // 528px
    padding-top: 2rem;
  }

  &-highlight {
    display: block;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 35rem) { // 528px
      flex-direction: row;
      justify-content: flex-start;
      text-align: left;
    }

    &__item {
      position: relative;
      padding-top: 1.25rem;
      padding-bottom: 1.375rem;

      @media (min-width: 35rem) { // 560px
        position: relative;
        padding: 0;
        padding-right: calc(2rem + (50 - 32) * ((100vw - 35rem)/ (206)));
      }
      @media (min-width: 47.875rem) { // 766px
        padding-right: 4rem;
      }
    }

    > * + * {
      @media (min-width: 35rem) {
        padding-left: calc(32px + ((44 - 32) * ((100vw - 35rem)/ (206))));
        padding-right: calc(32px + (60 - 32) * ((100vw - 35rem)/ (206)));
      }
      @media (min-width: 47.875rem) {
        padding-left: 3rem;
        padding-right: 5rem;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 95px;
        border-top: 1px solid var(--clr-gray-300);
        transform: translateX(-50%);

        // @include mq(small) {
        @media (min-width: 35rem) {
          left: 0;
          top: 10%;
          bottom: 10%;
          border: 0;
          border-left: 1px solid var(--clr-gray-600);
          transform: translateX(0%);
        }
      }
    }
  }

  &__bar {
    margin-top: 0.625rem;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 35rem) {
      max-width: 100%;
      margin-top: 2rem;
    }
    
  }
}
