@use '../abstracts/' as *;

.split {
  display: flex;
  flex-direction: column;

  @include mq(small) {
    flex-direction: row;
  }

  > * {
    flex-basis: 100%;

    + * {
      margin: 2.5rem 0 0 0;

      @include mq(small) {
        margin: 0 0 0 2.5rem;
      }
    }
  }
}
