@use '../abstracts' as *;

body {
  --fs-body: 0.875rem; //14px
  line-height: 1.8;
  font-family: var(--font-family);
  font-size: var(--fs-body);
  color: var(--clr-gray-600);

  @include mq(small) {
    & {
      --fs-body: 1rem;
    }
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  color: var(--clr-black);
  line-height: 1.1;
}

a {
  /* font-weight: var(--fw-700); */
  color: var(--clr-black);
  font-weight: var(--fw-medium);
  text-decoration: none;
}

.text-strong {
  color: var(--clr-black);
  font-size: var(--fs-strong, 1rem);
  font-weight: var(--fw-bold);
  line-height: 1.5;
}
