@use '../abstracts' as *;

body {
  --fs-body: 0.875rem; //14px
  // don't make the body text fluid. Everything will be fluid. You might not want to
  // want that.
  // --fs-body: calc(0.875rem + (16 - 14) * ((100vw - 375px) / (640 - 375)));
  // fluid text with a clamp at 640px. No need for media queries.
  --fs-body: calc(0.875rem + (16 - 14) * ((min(640px, 100vw) - 375px) / (640 - 375)));
  line-height: 1.8;
  font-family: var(--font-family);
  font-size: var(--fs-body);
  color: var(--clr-gray-600);

  // @include mq(small) {
  //   & {
  //     --fs-body: 1rem;
  //   }
  // }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  color: var(--clr-black);
  line-height: 1.1;
}

a {
  /* font-weight: var(--fw-700); */
  color: var(--clr-black);
  font-weight: var(--fw-medium);
  text-decoration: none;
}

.text-strong {
  color: var(--clr-black);
  font-size: var(--fs-strong, 1rem);
  font-weight: var(--fw-bold);
  line-height: 1.5;
}
