@use '../../abstracts' as *;

.pledge {
  grid-column: 1 /-1;
  grid-row: 4 / 5;
  padding: 0 1.5rem;
  // padding-top: 2rem;
  padding-top: 1.75rem;
  margin: 0 -1.5rem;
  // margin-top: 1rem;
  margin-top: 0.625rem;
  border-top: 1px solid var(--clr-gray-600);
  // display: none; // painting passed to React
  display: flex;
  // gap: 1.5rem;
  gap: 1rem;
  flex-direction: column;
  text-align: center;

  @include mq(small) {
    grid-column: 1 /-1;
    grid-row: 3 / 4;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  // Let React control the display and CSS control the layout.
  // .selected & {
  //   display: flex;
  // }

  &__form {
    display: flex;
    gap: 1rem;
    align-items: center;

    > * {
      width: 100%;
    }
  }

  &__amount {
    border: 1px solid var(--clr-gray-600);
    border-radius: 100vh;
    // padding: 1rem 0.5rem 1rem 1rem;
    padding: 0.75rem 0.5rem 0.75rem 1rem;
    color: var(--clr-gray-600);
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '$';
      display: inline-block;
      font-weight: bold;
      color: var(--clr-gray-300);
      // padding-right: 4px;
      padding-right: 6px;
    }

    &__input {
      color: var(--clr-black);
      font-weight: var(--fw-bold);
      border: none;
      display: inline-block;
      // width: 6ch;
      width: 5.5ch;

      &:hover,
      &:focus {
        outline: none;
      }
    }
  }
}
