@use 'sass:selector';
@use '../../abstracts' as *;

.product {
  --flow-spacer: 1.25rem;
  border-radius: 10px;
  border: 1px solid var(--clr-border, var(--clr-gray-600));
  // padding: 2rem 1.5rem;
  padding: 1.5rem;
  position: relative;

  @media (min-width: 560px) {
    --flow-spacer: 1.75rem;
    padding-bottom:2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &::before {
    @include prepend-selector('.unavailable') {
      content: '';
      position: absolute;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__header {
    display: flex;
    flex-direction: column;

    @media (min-width: 560px) {
      flex-direction: row;
      align-items: center;
      width: 100%;
      gap: 1rem;

      .products & {
        justify-content: space-between;
      }
    }
  }

  &__title {
    font-weight: var(--fw-bold);
    font-size: 1.17em;
    color: var(--clr-black);
    line-height: 2.125rem;
    display: block;
    cursor: pointer;
    
    // &:hover {
    //   // @include mq(small) {
    //   @media (min-width: 560px) {
    //     color: var(--clr-primary-light);
    //   }
    // }
    
    @include mq(medium) {
      font-size: 1.125rem;
    }
  }

  &__subtitle {
    color: var(--clr-primary-light);
    font-weight: var(--fw-medium);
    font-size: 1rem;

    // @include mq(small) {
    //   font-size: 1rem;
    // }
  }

  &__selection {
    @media (min-width: 560px) {
      color: var(--clr-primary-light);
    }

    & input[type='checkbox']:checked {
      --clr-border: var(--clr-primary-light);
    }

    & input[type='radio'] {
      position: absolute;
      opacity: 0;
      z-index: -1;

      + span {
        cursor: pointer;
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: 32px;
        height: 32px;

        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          width: 32px;
          height: 32px;
          border: 1px solid var(--clr-gray-600);
          border-radius: 50%;
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          display: inline-block;
          width: 18px;
          height: 18px;
          /* border: 1px solid var(--clr-neutral-gray); */
          border-radius: 50%;
          background-color: var(--clr-primary-light);
          opacity: 0;
          transform: translate(-50%, -50%);
          transition: opacity ease 0.2s;
        }
      }

      &:checked {
        + span::after {
          opacity: 1;
        }
      }

      &:not(:disabled) {
        + span:hover::before {
          border-color: var(--clr-primary-light);
        }
      }

      &:hover {
        + span::before {
          border-color: var(--clr-primary-light);
        }
      }
    }
  }

  &__quantity {
    --fs-strong: 2rem;
    vertical-align: -0.2em;
    padding-right: 0.25em;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-between;
    width: max-content;

    // @include mq(small) {
    @media (min-width: 470px) {
      flex-direction: row;
      align-items: center;
      width: 100%;
      gap: 1rem;
    }
  }

  &.selected {
    border: 3px solid var(--clr-primary-light);
  }
}
