@use 'sass:map';

$breakpoint: (
  small: 40rem, // 640px
  medium: 75rem, // 1200px
  large: 90rem, // 1440px
);

@mixin mq($key) {
  $size: map.get($breakpoint, $key);

  @media (min-width: $size) {
    @content;
  }
}
