$colors: (
  primary-dark: hsl(176, 72%, 28%),
  primary-light: hsl(176, 50%, 47%),
  black: hsl(0, 0%, 0%),
  white: hsl(0, 0%, 100%),
  gray-100: hsl(0, 0%, 98%),
  // body-background
  gray-200: hsl(0, 0%, 83.9%),
  gray-600: hsl(0, 0%, 48%) // border-color,
);
